.nextBtn {
    background-color: rgb(3, 85, 3);
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    float: right;
    color:white;
}

.prevBtn {
    background-color: rgb(3, 85, 3);
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    float: left;
    color:white;
}

.nav {
    background-color: rgb(139, 214, 104);
    overflow: hidden;
  }
